<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <a class="buttonHomeLink" href="/secrets">
      <div class="container buttonHome">
        <i class="fas fa-key fa-6x"></i>
        <h1 class="display-3">Secrets</h1>
        <p class="lead">¡No guardes tus secretos, compártelos anónimamente!</p>
      </div>
    </a>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Registro</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
